body {
    background-image: url(./img/beatles.jpg);
    background-size: cover;
    background-attachment: fixed;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

a {
    color: black;
}
