@import url('https://fonts.googleapis.com/css?family=Denk+One&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background: url(./img/bakgrund.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

div {
    margin-left: 100px;
    margin-top: 100px;
}

h1 {
    font-family: 'Denk One', sans-serif;
    text-align: left;
    margin-bottom: 50px;
    letter-spacing: 25px;
    font-size: 50px;
}

h2 {
    margin-bottom: 20px;;
}

h1, h2, caption, th {
    color: #00A6AD;
}

img, p {
    padding: 20px;
    width: 550px;
    background: #A9E5E5;
    border-radius: 10px;
    margin-bottom: 20px;
}

th {
    padding: 10px;
    margin: 5px;
    background: #A9E5E5;
    border-radius: 10px;
}

td {
    border-radius: 10px;
    color: white;
    padding: 10px;
    border: solid #A9E5E5
}

table {
    width: 550px;
}

caption {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 30px;
}

p {
    font-size: 11px;
}

a {
    color: red;
    font-weight: bold;
}